/* @tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .h-670 {
    height: 670px;
  },
  .h-350 {
    height: 350px;
  }
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #e5e5e5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* black: '#000',
white: '#fff',
lightGray: '#F8F8F8',
test: '#2596be',
pink: '#D26F8F' */
